{% extends 'layouts/home_layout.html' %}
{% load static %}
{% load tz %}
{% block custom_header_script %}

{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="questions" value="{{ ids }}">
        <div class="text-center">
            <h4>Creator: {{ creator }}</h4>
        </div>
        <div class="row">
            {% for question in questions %}
                <div class="col-md-12 mt-3">
                    <h4>{{ question.title }}</h4>
                    {% for answer in question.answers.all %}
                        {% if question.type == 1 %}
                            <input type="radio" name="{{ question.id }}" value="{{ answer.id }}">
                            <label>{{ answer.answer }}</label><br>
                        {% else %}
                            <input type="checkbox" name="{{ question.id }}" value="{{ answer.id }}">
                            <label> {{ answer.answer }}</label><br>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <br>
        <button class="btn btn-outline-primary" type="submit">Submit</button>
    </form>
{% endblock %}