* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.container {
    width: 70%;
    margin: auto;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 100%;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: right;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
}

.half {
    width: 40%;
    float: left;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}